<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>게시 글 목록</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<center>
<h1>게시글 목록(Thymeleaf)</h1>

<h3><font color="red" th:text="${session['user'].name}"></font>님 환영합니다.</h3>
<a th:href="@{/logout}">LOG-OUT</a>

<table align="center" border="1" cellpadding="0" cellspacing="0" width="700">
<tr>
<th bgcolor="orange" width="100">번호</th>
<th bgcolor="orange" width="200">제목</th>
<th bgcolor="orange" width="150">작성자</th>
<th bgcolor="orange" width="150">등록일</th>
<th bgcolor="orange" width="100">조회수</th>
</tr>

<tr th:each="board : ${boardList}">
	<td th:text="${board.seq}"/>
	<td><a th:href="@{/getBoard(seq=${board.seq})}" th:text="${board.title}"></a></td>
	<td th:text="${board.writer}"/>
	<td th:text="${#dates.format(board.regDate, 'yyy-MM-dd')}"/>
	<td th:text="${board.cnt}"/>
</tr>

</table>
<br>
<a th:href="@{/insertBoard}">새글 등록</a>
</center>
</body>
</html>
