body {
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}

input[name="multiplenumber"] {
	width: 50px;
	border: 1px solid gray;
}

input[name="result"] {
	width: 100px;
	border: 1px solid gray;
}

input[name="button"] {
	
}