<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="fileAppender">
		<file> src/main/resources/logs/board_log.log </file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>src/main/resources/logs/board-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{yyyy:MM:dd} %-5level --- [%thread] %logger{35} : %msg %n			</pattern>
		</encoder>
	</appender>

	<appender class="ch.qos.logback.core.ConsoleAppender" name="consoleAppender">
		<encoder>
			<pattern>%d{yyyy:MM:dd} %-5level --- [%thread] %logger{35} : %msg %n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.rubypaper" additibity="false" level="WARN">
		<appender-ref ref="consoleAppender" />
	</logger>

	<root level="WARN">
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>