table {
	width: 400px;
	border-collapse: collapse;
	font-size: 0.9em;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}

th {
	background-color: #777;
	color: white;
}

th:first-child {
	width: 70px;
}

#difficulty {
	text-align: center;
	vertical-align: top;
}