table {
	border-collapse: collapse;
	font-size: 11pt;
	width: 500px;
}

thead {
	background-color: rgb(220,220,220);
}

td, th {
	text-align: center;
	padding: 5px;
	border: 1px solid #999;
}

caption {
	font-weight: 500;
	font-size: 1.2em;
	line-height: 2.3em;
}