<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>로그인 성공</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h3><font color="red">로그인 인증을 성공하셨습니다.^^</font></h3>
<h5><a th:href="@{/}">INDEX 페이지로 이동</a></h5>
<h5><a th:href="@{/member}">Member 페이지로 이동</a></h5>
<h5><a th:href="@{/manager}">Manager 전용 페이지로 이동</a></h5>
<h5><a th:href="@{/admin}">Admin 전용 페이지로 이동</a></h5>
</body>
</html>
