body {
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
p:first-of-type {
	font-size: 2em;
}

a {
	color: black;
	text-decoration: none;
}

p:last-of-type {
	font-size: 1em;
}