table {
	border-collapse: collapse;
	width: 500px;
}

td, th {
	text-align: center;
	padding: 5px;
	border: 1px solid #999;
}

#col3 {
	border-left: 2px solid #999;
}

figure {
	width: 500px;
}

figcaption {
	text-align: center;
}

thead {
	background-color: #ccc;
	border-bottom: 2px double #999;
}

footer {
	font-size: 0.8em;
}

footer .tabelCode {
	float: left;
}

footer .source {
	float: right;
}